{#
  Error topic template - is displayed when topic is not found
  Tab Size: 2 
#}
{% extends "base.twig" %}

{% block page_title %}Topic was not found{% endblock %}

{% block body %}

	<div class="my-3 my-md-5">
    <div class="container">
      <div class="row">

      	{% include('leftbar.twig') with { 'page_title': 'Topic was not found', 'page_active': 'topic' } %}

        <div class="col-lg-9 order-lg-2 mt-4">

			    <div class="card p-4 text-center">
		        
		       	<div class="big-icon">
							<i class="fe fe-alert-triangle text-primary"></i>
						</div>
		       	
		       	<p class="mb-1">Seems that requested topic was not found...</p>
		       	<small class="d-block mb-4">Try to use search to find topic which you need.</small>
		       	
		       	<div class="card-footer">
		       		<a href="/topics/all" class="btn btn-primary">View all topics</a>
		       	</div>
		      </div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}