{#
  Pages template (Custom pages)
  Tab Size: 2 
#}
{% extends "base.twig" %}

{% block page_title %}{{ this_page.title }}{% endblock %}
{% block page_description %}{{ this_page.title }}{% endblock %}

{% block body %}

	<div class="my-3 my-md-5">
    <div class="container">
      <div class="row">

      	{% include('leftbar.twig') %}

        <div class="col-lg-9 order-lg-2">

          {% if settings.banner_top_status == 1 %}
            <div class="max-width-100 row mt-4 mb-4 pl-3 pr-3">
              {{ settings.banner_top|raw }}
            </div>
          {% endif %}

          <div class="card pt-4 pr-4">
            <p>{{ this_page.content|raw }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}